[Desktop Entry]
Name=Tony
Exec=tony %U
Keywords=audio; sound; melody; singing;
Terminal=false
Type=Application
Icon=tony-icon
Categories=Audio;AudioVideo;
MimeType=application/x-tony;application/x-ogg;audio/mp3;audio/ogg;audio/mpeg;audio/mpegurl;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-wav;audio/wav;application/ogg;audio/x-vorbis+ogg;
