<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
      Name="Tony" 
      Id="*"
      Language="1033"
      Codepage="1252" 
      Version="0.5"
      UpgradeCode="3F073027-A65B-4688-906C-5F64597C5BB1"
      Manufacturer="Queen Mary, University of London">
    
    <Package
        Id="*"
        Keywords="Installer"
        Description="Tony Installer" 
        Comments="Copyright (c) 2013 Queen Mary, University of London and others." 
        Manufacturer="Queen Mary, University of London" 
        InstallerVersion="100" 
        Languages="1033" 
        Compressed="yes" 
        SummaryCodepage="1252"/>

    <MajorUpgrade DowngradeErrorMessage="A later version of Tony is already installed. Setup will now exit."/>

    <Media Id="1" Cabinet="Tony.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1"/>
    <Property Id="DiskPrompt" Value="Tony Installation [1]"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">

        <Directory Id="VampPlugins" Name="Vamp Plugins">
          <Component
              Id="pYin"
              Guid="5C3B7285-B652-4FE5-8A1D-AC92376F8AD5">
            <File
                Id="pyinlib"
                Name="pyin.dll"
                DiskId="1"
                Source="pyin\win32-build\release\pyin.dll"/>
            <File
                Id="pyincat"
                Name="pyin.cat"
                DiskId="1"
                Source="pyin\pyin.cat"/>
            <File
                Id="pyinrdf"
                Name="pyin.n3"
                DiskId="1"
                Source="pyin\pyin.n3"/>
          </Component>
          <Component
              Id="CHP"
              Guid="3567639C-BFA5-46EC-BA2D-C4899508B0D0">
            <File
                Id="chplib"
                Name="chp.dll"
                DiskId="1"
                Source="chp\win32-build\release\chp.dll"/>
          </Component>
        </Directory>

        <Directory Id="APPLICATIONFOLDER" Name="Tony">
            
            <Component
                Id="MainExecutable"
                Guid="B0DA872A-E8B9-4C41-B0B0-7702A9EBBD51">

              <File
                  Id="T"
                  Name="Tony.exe"
                  DiskId="1"
                  Source="release\Tony.exe"
                  KeyPath="yes">

                <Shortcut
                    Id="TStartEntry"
                    Directory="ProgramMenuDir"
                    Name="Tony"
		    Icon="winicon.ico"
		    IconIndex="0"
                    WorkingDirectory="INSTALLDIR"
                    Advertise="yes"/>

                <Shortcut
                    Id="TDesktop"
                    Directory="DesktopFolder"
                    Name="Tony"
		    Icon="winicon.ico"
		    IconIndex="0"
                    WorkingDirectory="INSTALLDIR"
                    Advertise="yes"/>
              </File>

              <File
                  Id="COPYING"
                  Name="COPYING"
                  DiskId="1"
                  Source="COPYING"/>
              <File
                  Id="README"
                  Name="README"
                  DiskId="1"
                  Source="README"/>

              <File
                  Id="winicon.ico"
                  Name="tony-winicon.ico"
                  DiskId="1"
                  Source="icons/tony-winicon.ico"/>
            </Component>

            <Component
                Id="Qt5"
                Guid="7DCE15D9-DB56-4ECC-A324-A9B74E30B872">
              <File
                  Id="QtCore"
                  Name="Qt5Core.dll"
                  DiskId="1"
                  Source="release\Qt5Core.dll"
		  KeyPath="yes"/>
              <File
                  Id="QtGui"
                  Name="Qt5Gui.dll"
                  DiskId="1"
                  Source="release\Qt5Gui.dll"/>
              <File
                  Id="QtNetwork"
                  Name="Qt5Network.dll"
                  DiskId="1"
                  Source="release\Qt5Network.dll"/>
              <File
                  Id="QtWidgets"
                  Name="Qt5Widgets.dll"
                  DiskId="1"
                  Source="release\Qt5Widgets.dll"/>
              <File
                  Id="QtXml"
                  Name="Qt5Xml.dll"
                  DiskId="1"
                  Source="release\Qt5Xml.dll"/>
              <File
                  Id="icudt52"
                  Name="icudt52.dll"
                  DiskId="1"
                  Source="release\icudt52.dll"/>
              <File
                  Id="icuin52"
                  Name="icuin52.dll"
                  DiskId="1"
                  Source="release\icuin52.dll"/>
              <File
                  Id="icuuc52"
                  Name="icuuc52.dll"
                  DiskId="1"
                  Source="release\icuuc52.dll"/>
              <File
                  Id="libgcc"
                  Name="libgcc_s_dw2-1.dll"
                  DiskId="1"
                  Source="release\libgcc_s_dw2-1.dll"/>
              <File
                  Id="libstdcplusplus"
                  Name="libstdc++-6.dll"
                  DiskId="1"
                  Source="release\libstdc++-6.dll"/>
              <File
                  Id="libwinpthread"
                  Name="libwinpthread-1.dll"
                  DiskId="1"
                  Source="release\libwinpthread-1.dll"/>
            </Component>
	    
	    <Directory Id="Platforms" Name="platforms">
              <Component
                  Id="Qt5PlatformPlugins"
                  Guid="F3AAECAE-3B5E-4BA7-8F17-D20F608BE43A">
		<File
                    Id="qminimal"
                    Name="qminimal.dll"
                    DiskId="1"
                    Source="release\qminimal.dll"/>
		<File
                    Id="qwindows"
                    Name="qwindows.dll"
                    DiskId="1"
                    Source="release\qwindows.dll"/>
              </Component>
	    </Directory>
        </Directory>

      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Tony">
          <Component Id="ProgramMenuDir" Guid="56B6BB05-453C-4480-81DA-31612ED64410">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKMU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop"/>

    </Directory>

    <Feature 
      Id="Complete"
      Title="Required files"
      Description="Installs the required files for running Tony."
      AllowAdvertise="no"
      Absent="disallow"
      ConfigurableDirectory="APPLICATIONFOLDER"
      Level="1">
      <ComponentRef Id="pYin"/>
      <ComponentRef Id="CHP"/>
      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="Qt5"/>
      <ComponentRef Id="Qt5PlatformPlugins"/>
      <ComponentRef Id="ProgramMenuDir"/>
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
		
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <Property Id="ApplicationFolderName" Value="Tony" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <Icon Id="winicon.ico" SourceFile="icons/tony-winicon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="winicon.ico" />
        
  </Product>
</Wix>
